<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <title>Contato</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="static/s tyle.css">
    <div>
        <nav class="">
            <h1>LOJÃO</h1>
            
            <ul>
                <li><a href="index.html">Início</a></li>
                <li><a href="quemsomos.html">Sobre Nós</a></li>
                <li><a href="produtos.html">Produtos</a></li>
                <li><a href="contato.html">Contato</a></li>
            </ul>
        
        </nav>
    </div>
     
  </head>
  <body background="https://png.pngtree.com/background/20210712/original/pngtree-modern-double-colors-neon-lights-on-brick-background-picture-image_1170045.jpg">
    <div>
      <p>
        <h2>Para Contato entrar em utilize nosso canais de comunicacao:</h2>
      </p>
      <icon "https://www.flaticon.com/br/icone-gratis/facebook_124010"</icon>
      <a  href="www.facebook.com">Facebook</a>
      <a href="www.whatsapp.com">Whatsapp</a>
      <a href="www.instagram.com">Instagram</a>
    </div>
    
    <footer>
      <p>
          &copy; Todos os direitos reservados.
          Empresa de Produto LOJÃO
      </p>
  </footer>
  </body>
</html>